* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Alkatra", cursive;
  color: black;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

header {
  width: 100%;
  min-height: 10vh;
  padding: 1.5vh 5vw;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(160deg, rgba(242, 191, 209, 0.7098039216) 0, rgba(228, 175, 198, 0.7098039216) 25%, rgba(212, 155, 185, 0.7098039216) 50%, rgba(195, 136, 173, 0.7098039216) 75%, rgba(179, 121, 165, 0.7098039216) 100%);
  z-index: 1;
}

.barraNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.barraMenu {
  padding: 2% 4%;
  gap: 2%;
}
.barraMenu .btnMenu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.barraMenu .btnMenu .barras {
  display: block;
  background-color: white;
  width: 100%;
  height: 5px;
  transform-origin: 0 100%;
  transition: all 0.2s;
}
.barraMenu .btnMenu .barra-linea1Active {
  transform: translate(10%, -45%) rotate(45deg);
}
.barraMenu .btnMenu .barra-linea2Active {
  opacity: 0;
}
.barraMenu .btnMenu .barra-linea3Active {
  transform: translate(10%, 50%) rotate(-45deg);
}
.barraMenu .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  gap: 2%;
  padding: 5% 5vw;
  top: 10vh;
  left: -60vw;
  height: 90vh;
  width: 60vw;
  z-index: 1;
  text-align: center;
  transition: all 0.6s;
  background-color: #f2bfd1;
}
.barraMenu .menu ul {
  margin-bottom: 0;
  padding-left: 0;
}
.barraMenu .menu .logIn {
  width: 100%;
}
.barraMenu .menu .logIn .iconUser {
  color: white;
  font-size: 1.5rem;
}
.barraMenu .menu .logIn span {
  color: white;
  font-size: 1.2rem;
}
.barraMenu .menu .btn-ItemMenu {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 8% 10%;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo a {
  display: block;
}
.logo a .logoIMG {
  border-radius: 50%;
  background-image: url(../../images/Crafting.png);
  opacity: 85%;
  background-size: cover;
  background-position: center center;
  width: 8%;
  height: 6vh;
  min-width: 100px;
  min-height: 55px;
}
.logo a h1 {
  display: none;
}

.barraCarrito {
  padding: 2% 4%;
  gap: 2%;
}
.barraCarrito .btnCarrito .iconShoppinBag {
  color: white;
  font-size: 30px;
}
.barraCarrito .cesta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  padding: 5% 5vw;
  position: absolute;
  width: 70vw;
  height: 100vh;
  overflow: scroll;
  z-index: 1;
  top: 0;
  right: -70vw;
  transition: all 0.3s;
  background-color: white;
}
.barraCarrito .cesta .cestaItem {
  width: 100%;
}
.barraCarrito .cesta .cestaItem .imgTermo {
  display: flex;
  justify-content: center;
}
.barraCarrito .cesta .cestaItem .card-body {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.barraCarrito .cesta .cestaItem .card-text {
  display: flex;
  justify-content: space-between;
}
.barraCarrito .cesta .cestaItem .cantidadCarritoHeader {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.barraCarrito .cesta .cestaItem .cantidadCarritoHeader button {
  background-color: rgba(190, 190, 190, 0.7490196078);
  border-radius: 15%;
  border: #a6a6a6 1px;
  width: 33%;
  height: 1.8rem;
}
.barraCarrito .cesta .cestaItem .cantidadCarritoHeader button i {
  color: white;
  text-shadow: 0 0 3px black;
}
.barraCarrito .cesta .cestaItem .cantidadCarritoHeader button:active {
  background-color: #a6a6a6;
}
.barraCarrito .cesta .cestaItem .cantidadCarritoHeader input {
  background-color: white;
  border: solid 1px;
  width: 33%;
  text-align: center;
  border-radius: 20%;
}
.barraCarrito .cesta .cestaItem .agregarCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.barraCarrito .cesta .btnComprar {
  display: block;
  color: white;
  text-shadow: 0 0 3px black;
  width: 90%;
  font-size: 1.2rem;
  align-self: center;
  background-color: #AAD2D1;
  border-radius: 7%;
  padding: 5% 0;
}
.barraCarrito .cesta .btnComprar:active {
  background-color: #8dbbbb;
}

.fondoObscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.337);
  display: none;
  transition: all 0.2s;
}

.fondoObscuro2 {
  position: fixed;
  width: 100%;
  height: 90vh;
  top: 10vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.337);
  display: none;
  transition: all 0.2s;
}

.fondoObscuro2Active {
  display: block;
}

main {
  margin: 10vh 0vw;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.carrusel1Items {
  height: 45vh;
  width: 100%;
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  text-shadow: 0 0 3px black;
}
.carrusel1Items .imgPortada {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  opacity: 75%;
  z-index: 0;
}
.carrusel1Items .contPortada {
  width: 95%;
  padding: 6% 5%;
  text-align: center;
  border-radius: 5%;
  opacity: 85%;
}
.carrusel1Items .contPortada h3 {
  color: white;
}
.carrusel1Items .contPortada p {
  color: white;
}

.carrusel1I1 {
  background-image: url(../../images/carrusel1/termosDespedida.jpg);
  background-size: cover;
  background-position: center;
}
.carrusel1I1 .contPortada {
  background-color: #f2bfd1;
}

.carrusel1I2 {
  background-image: url(../../images/carrusel1/recuerdosBoda.jpg);
  background-size: cover;
  background-position: center;
}
.carrusel1I2 .contPortada {
  background-color: #AAD2D1;
}

.carrusel1I3 {
  background-image: url(../../images/carrusel1/arregloGlobos.jpg);
  background-size: cover;
  background-position: center;
}
.carrusel1I3 .contPortada {
  background-color: #FFDAD9;
}

.carrusel1I4 {
  background-image: url(../../images/carrusel1/termosPersonalizados.jpg);
  background-size: cover;
  background-position: center;
}
.carrusel1I4 .contPortada {
  background-color: #B19DA6;
}

.nosotros .contVideoNosotros {
  width: 100%;
  height: 20vh;
  background-color: rgba(195, 136, 173, 0.3529411765);
  display: flex;
  justify-content: center;
}
.nosotros .contVideoNosotros .videoNosotros {
  width: 90%;
  height: 20vh;
  background-image: url(../../images/termos_playa.jpg);
  background-position: center;
  background-size: cover;
}
.nosotros .contNosotros {
  background-color: rgba(195, 136, 173, 0.3529411765);
  color: white;
  text-shadow: 0 0 3px black;
  text-align: center;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.nosotros .contNosotros h2 {
  font-size: 3rem;
}
.nosotros .contNosotros p {
  color: white;
}
.nosotros .contNosotros .btnLeerMas {
  background-color: white;
  padding: 5%;
  width: 60%;
  border-radius: 10%;
}

.serviciosMain {
  height: 30vh;
  width: 98%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2%;
  text-align: center;
}
.serviciosMain button {
  background-color: rgba(182, 134, 207, 0.3529411765);
  border-radius: 10%;
  height: 100%;
  text-shadow: 0 0 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 8%;
  transition: all 0.2s;
}
.serviciosMain button i {
  color: white;
}
.serviciosMain button span {
  color: white;
}
.serviciosMain button:active {
  background-color: #B686CF;
}

.productosMain {
  height: 60vh;
  width: 100%;
}
.productosMain button {
  width: 10%;
}
.productosMain .carruselProdMain {
  height: 100%;
  display: flex;
  align-items: center;
}
.productosMain .imgTermo {
  display: flex;
  justify-content: center;
}
.productosMain .card-body {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productosMain .card-text {
  display: flex;
  justify-content: space-between;
}
.productosMain .agregarCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.productosMain .agregarCarrito label {
  align-self: center;
  width: 30%;
}
.productosMain .agregarCarrito label span {
  padding-right: 5%;
}
.productosMain .agregarCarrito .cantidadCarritoMain {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 2%;
}
.productosMain .agregarCarrito .cantidadCarritoMain button {
  background-color: rgba(190, 190, 190, 0.7490196078);
  border-radius: 15%;
  border: #a6a6a6 1px;
  width: 33%;
  height: 1.8rem;
}
.productosMain .agregarCarrito .cantidadCarritoMain button i {
  color: white;
  text-shadow: 0 0 3px black;
}
.productosMain .agregarCarrito .cantidadCarritoMain button:active {
  background-color: #a6a6a6;
}
.productosMain .agregarCarrito .cantidadCarritoMain input {
  background-color: white;
  border: solid 1px;
  width: 33%;
  text-align: center;
  border-radius: 20%;
}
.productosMain .btnAgregar {
  color: white;
  text-shadow: 0 0 3px black;
  width: 80%;
  height: 2.5rem;
  align-self: center;
  background-color: #AAD2D1;
  border-radius: 7%;
}
.productosMain .btnAgregar:active {
  background-color: #8dbbbb;
}
.productosMain .card {
  background-color: white;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  height: min-content;
  background: rgb(170, 193, 222);
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding: 10% 5%;
  text-align: center;
}
footer .since span {
  color: white;
  text-shadow: 0 0 3px black;
}

.logoFooter {
  background-image: url(../../images/c.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
}

.seccionesFooter .accordion-item {
  border: none;
  background: none;
}
.seccionesFooter .accordion-item .accordion-button {
  background-color: #aac1de;
  color: white;
  text-shadow: 0 0 3px black;
}
.seccionesFooter .accordion-item .accordion-body span {
  color: white;
  text-shadow: 0 0 3px black;
}

/*# sourceMappingURL=style.css.map */
